.modal-card,
mat-card-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

mat-card-title {
    margin: 0;
}

.action__button--warn {
    color: rgb(224, 95, 9);
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}