.header {
    width: 100%;
    overflow: hidden;
    background-color: #E3F2FD;
    color: #1E88E5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px 0;
}

.header-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.header-container__info,
.header-container__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
}

.header-container__info a,
.header-container__options a {
    color: #1E88E5;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-container__info a:hover,
.header-container__options a:hover {
    color: #ffffff;
    background-color: #1E88E5;
}

.header-mobile-menu {
    display: none;
}

.header-mobile-menu button {
    color: #000000;
}

@media screen and (max-width: 450px) {
    .header-container__options {
        display: none;
    }

    .header-mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .header {
        padding: 15px 0;
    }
}