.header {
    width: 100%;
    overflow: hidden;
}

.header-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #F0F0F0;
    box-sizing: border-box;
}

.header-container__info,
.header-container__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0 10px;
}

.header-mobile-menu {
    display: none;
}

@media screen and (max-width: 450px) {
    .header-container__options {
        display: none;
    }

    .header-mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 10px;
    }
}