<div class="container">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>My profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Username: {{ user.username }}</p>
      <p>E-mail: {{ user.email }}</p>
      <p>Roles: <span *ngFor="let role of user.roles;index as i">{{ role.name === "ROLE_USER" ? "User" : "Administrator" }}</span></p>
      <p>Department: {{ user.department ? user.department.name : "No department assigned" }}</p>
    </mat-card-content>
  </mat-card>
</div>