<mat-card class="modal-card">
  <mat-card-header>
    <mat-card-title>{{ data.title || 'Modal Title' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="comments-container">
      <mat-card class="comment-card" *ngFor="let item of data.content">
        <mat-card-content>
          <p class="comment-date" *ngIf="item?.user">{{ item.createdAt }}</p>
          <p class="comment-user" *ngIf="item?.user">
            <strong>{{ item.user.username }} wrote:</strong>
          </p>
          <p *ngIf="editCommentId !== item.id" class="comment-content">{{ item.content }}</p>
          <textarea *ngIf="editCommentId === item.id" [(ngModel)]="item.content" class="comment-input"></textarea>
          
          <div *ngIf="item.user.username === user.username && !isAddingComment" class="comment-actions-container">
            <mat-icon *ngIf="editCommentId !== item.id" class="edit-icon" (click)="onEditClick(item.id)">edit</mat-icon>
            <mat-icon *ngIf="editCommentId !== item.id" class="delete-icon" (click)="openDialogDelete(data.meaning, item.id, $event)">delete</mat-icon>
            <button class="confirm-button" *ngIf="editCommentId === item.id" mat-button color="accent" 
              (click)="updateComment(data.meaning, item.id, item.content)">Update</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">{{ data.closeText || 'Close' }}</button>
    <button mat-raised-button color="accent" class="post-comment-button" (click)="isAddingComment = !isAddingComment">
      {{ isAddingComment ? 'Cancel' : 'Post Comment' }}
    </button>
  </mat-card-actions>

  <div *ngIf="isAddingComment" class="new-comment-container">
    <textarea [(ngModel)]="newCommentContent" placeholder="Enter your comment here..." class="new-comment-input"></textarea>
    <button mat-raised-button color="primary" class="submit-comment-button" (click)="createComment(data.meaning)">Submit</button>
  </div>
</mat-card>
