.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    animation: fadein ease-in-out 1s;
}

.container__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container__form>button {
    font-size: 15px;
}

th {
    font-weight: bold;
}

table {
    margin: 15px;
}

td mat-card {
    margin: 0;
    box-shadow: none;
    border: none;
}

.options__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 75%;
    animation: fadein 1s ease-in-out;
}

.form__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}