<div class="container">
    <form class="container__form" (ngSubmit)="searchAbbreviations()">
      <mat-form-field>
        <mat-label>Search for abbreviations</mat-label>
        <input matInput placeholder="Ex. bacc.oec" [(ngModel)]="searchTerm" name="searchTerm">
      </mat-form-field>
      <button type="submit" mat-button>Search</button>
    </form>
  </div>

  <div *ngIf="hasSearched" class="container-table">
        <table mat-table [dataSource]="abbreviationList" class="mat-elevation-z8">
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let abbs">{{ abbs.id }}</td>
          </ng-container>
      
          <ng-container matColumnDef="abbreviation">
            <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
            <td mat-cell *matCellDef="let abbs">{{ abbs.name }}</td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let abbs" class="actions-cell">
              <button mat-button>View meanings</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    

