.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    animation: .5s fadein ease-in-out;
}

.register-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.register-container__option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.register-container mat-form-field,
mat-card-title,
h3 {
    margin: 10px;
    padding: 5px;
}

.g {
    margin: 5px;
}