<div class="container">
  <mat-card appearance="outlined">
    <form #loginForm="ngForm">
      <div class="register-container">
        <mat-card-title>{{ url === "/abbreviations/new" ? "Create new abbreviation" : "Update abbreviation" }}</mat-card-title>
        
        <mat-form-field>
          <mat-label>Enter abbreviation name</mat-label>
          <input
            matInput
            [formControl]="name"
            (blur)="updateErrorMessage()"
            required
            value="{{  abbreviationIfUpdate.name }}"
          />
          <mat-error *ngIf="name.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>

        <div class="register-container__option">
          <button
            mat-raised-button
            type="submit"
            [disabled]="loginForm.invalid || isClicked"
            (click)="url === '/abbreviations/new' ? createAbbreviation() : updateAbbreviation()"
          >
            Confirm
          </button>

          <mat-spinner *ngIf="isClicked" diameter="30" class="g"></mat-spinner>
        </div>
      </div>
    </form>
  </mat-card>
</div>
