<div class="container">
  <mat-card class="custom-card" appearance="outlined">
    <form #loginForm="ngForm" class="form-container">
      <div class="register-container">
        <mat-card-title class="title">
          {{ url === "/abbreviations/new" ? "Create New Abbreviation" : "Update Abbreviation" }}
        </mat-card-title>
        
        <mat-form-field class="form-field">
          <mat-label>Enter Abbreviation Name</mat-label>
          <input
            matInput
            [formControl]="name"
            (blur)="updateErrorMessage()"
            required
            value="{{ abbreviationIfUpdate.name }}"
            class="input-field"
          />
          <mat-error *ngIf="name.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>

        <div class="register-container__option">
          <button
            mat-raised-button
            type="submit"
            [disabled]="loginForm.invalid || isClicked"
            (click)="url === '/abbreviations/new' ? createAbbreviation() : updateAbbreviation()"
            class="confirm-button"
          >
            Confirm
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
