.sm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    animation: fadein .5s ease-in-out;
}

.sm mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


mat-card-actions>a {
    margin: 5px;
}

@keyframes fadein {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}