/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a[mat-raised-button],
button[mat-raised-button],
button[mat-button],
button[mat-stroked-button] {
    border-radius: 2px;
}

.block {
    display: block;
}

.action__button {
    transition: all .2s;
    background-color: inherit;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}