/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a[mat-raised-button],
button[mat-raised-button],
button[mat-button],
button[mat-stroked-button] {
    border-radius: 2px;
}


@media (max-width: 450px) {

    a[mat-raised-button],
    button[mat-raised-button] {
        padding: 2px;
        margin: 2px;
        font-size: 10px;
        border-radius: 2px;
        box-shadow: none;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}